<form name="form" novalidate ng-controller="ViewLogEntryCtrl">
  <div layout="row" class="colorNested" ng-if="trainingLogs.length > 0">
    <div flex="50"><h3 class="md-title">ID</h3></div>
    <div flex="50"><h3 class="md-title">TYPE</h3></div>
    <div flex="50"><h3 class="md-title">TIME</h3></div>
    <div flex="50"><h3 class="md-title">DATE</h3></div>
  </div>
  <div layout="row" ng-if="trainingLogs.length == 0">
    <strong>There are no log entries</strong>
  </div>
  <div layout="row" ng-repeat="item in trainingLogs">
    <div flex="50">{{item.ID}}</div>
    <div flex="50">{{getExerciseType(item.TypeID)}}</div>
    <div flex="50">{{item.Time}}</div>
    <div flex="50">{{item.Date | date:'yyyy-MM-dd'}}</div>
    <div flex="10">
      <md-button class="md-icon-button md-accent" aria-label="Delete Log Entry" ng-click="deleteTrainingLog(item.ID)">
        <ng-md-icon icon="delete" size="25"></ng-md-icon>
        <md-tooltip>
        Delete Log Entry
        </md-tooltip>
      </md-button>
    </div>
    <div flex="10">
      <md-button class="md-icon-button md-accent" aria-label="Edit Log Entry" ng-click="showDialog($event, item)">
        <ng-md-icon icon="mode_edit" size="25"></ng-md-icon>
        <md-tooltip>
        Edit Log Entry
        </md-tooltip>
      </md-button>
    </div>
  </div>
</form>
